/* Celulares */
@media only screen and (max-width: 600px) {
  .task {
    display: flex;
    border: 1px solid white;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .task {
    display: flex;
    border: 1px solid white;
    width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  .task {
    display: flex;
    border: 1px solid white;
    width: 450px;
    margin-bottom: 10px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

.task__btn-delete {
  margin-left: auto;
  color: red;
  background-color: transparent;
  width: 10%;
  border: none;
}

.task__btn-delete:hover {
  margin-left: auto;
  color: white;
  background-color: red;
  width: 10%;
  border: none;
}
