/* Celulares */
@media only screen and (max-width: 600px) {
  .task {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 80% 20%;

    border: 1px solid white;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .task {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 80% 20%;

    border: 1px solid white;
    width: 500px;
    margin-bottom: 10px;
    padding: 10px;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  .task {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 80% 20%;

    border: 1px solid white;
    width: 550px;
    margin-bottom: 10px;
    padding: 10px;
  }
}

.task__title {
  font-size: 1.1em;
}

.task__description {
  grid-column: span 2;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.task__btn-delete {
  margin: auto;
  color: #ff4545;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
}

.task__btn-delete:hover {
  color: white;
  background-color: #ff4545;
}
