.container-adicionar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 415px;
  gap: 20px;

  position: absolute;
  top: 45%;
  left: 30%;

  background-color: #212529;
  padding: 20px;
  border: 2px solid orange;
}

.vertical-resizing {
  resize: vertical;
}

.botao-fechar-janela {
  position: absolute; 
  top: 0; 
  right: 0;
  background-color: red;
  border: none;
  width: 30px;
  height: 30px;
}