.background {
  background-image: linear-gradient(to right, #36205a, #4e2296);
}

.primary-color {
  background-color: #212529;
}

.secondary-color {
  background-color: white;
}

.font {
  color: #f8f9fa;
  font-size: 1.2em;
}
