.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.window {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  min-height: 200px;
  position: absolute;
  background-color: #212529;
  padding: 20px;
  border: 2px solid orange;
}

.window__div {
  min-width: 177px;
}

.window__btn-open {
  color: white;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
}

.window__btn-open:hover {
  color: #212529;
  background-color: white;
}

.window__btn-create {
  background-color: transparent;
  color: orange;
  align-self: flex-end;
  border: 1px solid orange;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.9em;
}

.window__btn-create:hover {
  background-color: orange;
  color: black;
}

.window__btn-close {
  position: absolute; 
  top: 0; 
  right: 0;
  color: #ff4545;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.window__btn-close:hover {
  color: white;
  background-color: #ff4545;
}

.vertical-resize {
  resize: vertical;
}

/* Celulares */
@media only screen and (max-width: 600px) {
  .window {
    max-width: 215px;  
  }
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .window {
    max-width: 415px;    
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  .window {
    max-width: 500px;
  }
}
