.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Celulares */
@media only screen and (max-width: 600px) {
  .window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 215px;
    min-height: 200px;  
    position: absolute;
    background-color: #212529;
    padding: 20px;
    border: 2px solid orange;
  }
}

/* Tablets */
@media only screen and (min-width: 600px) {
  .window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 415px;
    min-height: 200px;    
    position: absolute;
    background-color: #212529;
    padding: 20px;
    border: 2px solid orange;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  .window {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    max-width: 415px;
    min-height: 200px;
    position: absolute;
    background-color: #212529;
    padding: 20px;
    border: 2px solid orange;
  }
}

.window__div {
  min-width: 177px;
}

.window__btn-create {
  background-color: transparent;
  color: orange;
  align-self: flex-end;
  border: 1px solid orange;
  border-radius: 5%;
  padding: 10px;
  font-size: 1em;
}

.window__btn-create:hover {
  background-color: orange;
  color: black;
}

.window__btn-close {
  position: absolute; 
  top: 0; 
  right: 0;
  color: red;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.window__btn-close:hover {
  color: white;
  background-color: red;
}

.vertical-resize {
  resize: vertical;
}
